<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ödemeler Ekranı</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-grid>
    <ion-row>
      <ion-label position="fixed">ID</ion-label>
      <ion-label position="fixed">Odeme</ion-label>
      <ion-label position="float">Tarih</ion-label>

    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row *ngFor="let x of OdemeList">
      <ion-col>{{ x.OdemeID }}</ion-col>
      <ion-col>{{ x.OdemeAdi }}</ion-col>
      <ion-col>{{ x.OdemeTarihi }}</ion-col>

    </ion-row>
  </ion-grid>


</ion-content>